@import '../Variables/Variables.scss';

.hq {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

    .hq__title {
        font-family: $fraunces;
        font-size: $twentyfour;
        color: $grey;
    }
}

// Media query for tablet
@media screen and (min-width: 768px) {
    .hq {
        width: 100vw;

        .hq__title {
            margin: 0rem 0rem 3.5rem 4rem;
        }
    }

    .hq__cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .hq {
        width: 80vw;

        .hq__cards {
            justify-content: space-between;
        }

        .hq__title {
            margin-left: 0rem;
            margin-bottom: 8rem;
        }
    }
}