@import '../Variables/Variables.scss';

.menu {
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.528470763305322) 0%, rgba(255,255,255,1) 40%);
    top: 0;
    bottom: 0;
    display: flex;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;

    .menu__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin-top: 4rem;

        .menu__list-item {
            font-size: $twentyfour;
            font-family: $fraunces;
            margin-bottom: 3rem;

            .menu__list-item__link {
                text-decoration: none;
                color: $dark-grey-blue;
            }
            
            .menu__list-item__link:hover {
                color: $grey;
                transition: 0.2s ease-in-out;
            }
        }

    }
}

// Media Query for tablet
@media screen and (min-width: 768px) {
    .menu {
        position: static;
        background: none;
        display: inline-block;

        .menu__list {
            flex-direction: row;
            width: auto;
            margin-top: 0rem;

            .menu__list-item {
                font-size: $twelve;
                font-family: $barlow;
                color: $grey;
                font-weight: 900;
                margin-bottom: 0rem;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
            }
        }
    }

    .space {
        margin-right: 3.5rem;
    }
}