@import '../Variables/Variables.scss';

.card-one {
    margin-top: 7rem !important;
}

.card-three {
    margin-bottom: 8rem;
}

.how-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    .how-card__number {
        font-size: $seventytwo;
        font-family: $fraunces;
        color: $pale-orange;
        margin-bottom: 2rem;
    }

    .how-card__title {
        font-size: $twentyeight;
        font-family: $fraunces;
        color: $dark-grey-blue;
        margin-bottom: 3rem;
    }

    .how-card__description {
        font-size: $fifteen;
        font-family: $barlow;
        color: $dark-grey-blue;
        line-height: $line-height-three;
        text-align: center;
        width: 85vw;
    }
}

// Media query for tablet
@media screen and (min-width: 768px) {
    .how {

        .how-card {
            align-items: flex-start;
            margin-top: 0rem;
            
            .how-card__description {
                width: auto;
                text-align: left;
            }
        }
    }

    .card-one {
        margin-top: 0 !important;
    }

    .card-three {
        margin-bottom: 0;
    }
}

// Media query for desktop 
@media screen and (min-width: 1024px) {
    .how {

        .how-card {

            .how-card__title {
                font-size: $thirtytwo;
                width: 70%;
            }

            .how-card__description {
                font-size: $sixteen;
            }
        }
    }
}

@media screen and (min-width: 1044px) {
    .how {

        .how-card {

            .how-card__title {
                width: 60%;
            }

            .how-card__description {
                width: 70%;
            }
        }
    }
}