@import '../Variables/Variables.scss';

.how-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    .how-card__number {
        font-size: $seventytwo;
        font-family: $fraunces;
        color: $pale-orange;
        margin-bottom: 2rem;
    }

    .how-card__title {
        font-size: $twentyeight;
        font-family: $fraunces;
        color: $dark-grey-blue;
        margin-bottom: 3rem;
    }

    .how-card__description {
        font-size: $fifteen;
        font-family: $barlow;
        color: $dark-grey-blue;
        line-height: $line-height-three;
        text-align: center;
        width: 85vw;
    }
}