@import '../Variables/Variables.scss';

@mixin collection-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

@mixin collection-coffee__img {
    height: 15.1rem;
    width: 20rem;
    margin-bottom: 3rem;
}

@mixin collection-coffee__description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin collection-coffee__name {
    font-size: $twentyfour;
    font-family: $fraunces;
    color: $dark-grey-blue;
    margin-bottom: 2rem;
}

@mixin collection-coffee__info {
    font-size: $fifteen;
    font-family: $barlow;
    line-height: $line-height-three;
    width: 75vw;
    text-align: center;
}

// Styling for tablet
@mixin collection-coffee-tablet {
    flex-direction: row;
    height: 16vh;
    margin-bottom: 8rem;
}

@mixin collection-coffee__img-tablet {
    height: 19.3rem;
    width: 25.5rem;
}

@mixin collection-coffee__description-container-tablet {
    height: 100%;
    width: 35vw;
    align-items: flex-start;
}

@mixin collection-coffee__description__info-tablet {
    text-align: left;
    width: auto;
}

// Styling for desktop
@mixin collection-coffee-desktop {
    flex-direction: column;
    width: 50%;
}

@mixin collection-coffee__description-container-desktop {
    width: 20vw;
    align-items: center
}

@mixin collection-coffee__description__info-desktop {
    text-align: center;
}