@import '../Variables/Variables.scss';

.card-one {
    margin-top: 4rem !important;
}

.why-us-card-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;

    .why-us-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 38.2rem;
        width: 80vw;
        background-color: $dark-cyan;
        border-radius: 1rem;

        .why-us-card__info-container {

            .why-us-card__info__title {
                font-family: $fraunces;
                font-size: $twentyfour;
                color: $light-cream;
                margin-top: 5rem;
                margin-bottom: 2rem;
            }
    
            .why-us-card__info__description {
                color: $light-cream;
                text-align: center;
                width: 55vw;
                font-size: $fifteen;
                font-family: $barlow;
                line-height: $line-height-three;
            }
        }
    }
}

// Media query for tablet 
@media screen and (min-width: 768px) {
    .why-us-card-container {

        .why-us-card {
            flex-direction: row;
            height: 18rem;
            width: 75vw;
            justify-content: space-evenly;

            .why-us-card__info-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
                width: 45vw;

                .why-us-card__info__title {
                    margin-top: 0rem;
                }

                .why-us-card__info__description {
                    width: auto;
                    text-align: left;
                }
            }
        }
    }
}