@import '../Variables/Variables.scss';

.subscribe {
    background-image: url('../Background-img/Mobile/image-hero-blackcup.jpg');
    background-size: cover;
    height: 40rem;
    width: 90vw;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .subscribe__info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subscribe__info__title {
            font-size: $forty;
            font-family: $fraunces;
            color: $light-cream;
        }
    
        .subscribe__info__description {
            font-size: $fifteen;
            font-family: $barlow;
            color: $transparent-light-cream;
            line-height: $line-height-twentyfive;
            text-align: center;
            margin-top: 2rem;
            width: 90%;
        }
    }
}

.subscribe-button {
    @include button-style;
    margin-top: 6rem;
}

// Media query for tablet
@media screen and (min-width: 768px) {
    .subscribe {
        background-image: url('../Background-img/Tablet/image-hero-blackcup.jpg');
        background-size: cover;

        .subscribe__info-container {
            width: 85%;
            align-items: flex-start;

            .subscribe__info__title {
                font-size: $fortyeight;
            }

            .subscribe__info__description {
                text-align: left;
                width: 65%;
            }
        }
    }
}

// Media query for desktop
@media screen and (min-width: 1024px) {
    .subscribe {
        background-image: url('../Background-img/Desktop/image-hero-blackcup.jpg');
        background-size: cover;

        .subscribe__info-container {

            .subscribe__info__title {
                font-size: $seventytwo;
            }

            .subscribe__info__description {
                font-size: $sixteen;
                width: 52%;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .subscribe {

        .subscribe__info-container {

            .subscribe__info__description {
                font-size: $sixteen;
                width: 40%;
            }
        }
    }
}