@import '../Variables/Variables.scss';

.about {
    width: 90vw;
    background-image: url('../Background-img/image-hero-whitecup.jpg');
    background-size: cover;
    height: 40rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about__info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about__info__title {
            color: $light-cream;
            font-size: $twentyeight;
            font-family: $fraunces;
        }
    
        .about__info__description {
            font-family: $barlow;
            font-size: $fifteen;
            color: $transparent-light-cream;
            line-height: $line-height-twentyfive;
            text-align: center;
            width: 84%;
            margin-top: 2rem;
        }
    }
}

// Media query for tablet
@media screen and (min-width: 768px) {
    .about {
        background-image: url('../Background-img/Tablet/image-hero-whitecup.jpg');
        background-size: cover;

        .about__info-container {
            align-items: flex-start;
            width: 85%;

            .about__info__title {
                font-size: $thirtytwo;
            }

            .about__info__description {
                text-align: left;
                width: 70%;
            }
        }
    }
}