// Colors
$dark-cyan: #0E8784;
$dark-grey-blue: #333D4B;
$pale-orange: #FDD6BA;
$light-cream: #FEFCF7;
$grey: #83888F;

// Fonts
$fraunces: 'Fraunces', serif;
$barlow: 'Barlow', sans-serif;

// Font sizes
$onefifty: 15rem;
$seventytwo: 7.2rem;
$forty: 4rem;
$thirtytwo: 3.2rem;
$twentyfour: 2.4rem;
$eighteen: 1.8rem;
$sixteen: 1.6rem;
$fifteen: 1.5rem;
$twelve: 1.2rem;

// Line heights
$line-height-three: 3rem;