@import '../Variables/Variables.scss';

.choices {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 3rem;

    .choices__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0rem 0rem 1.5rem 0rem;
        padding: 3rem 2rem;
        background-color: #9797971a;
        border-radius: 1rem;

        .choices__card__title {
            font-family: $fraunces;
            font-size: $twentyfour;
            color: $dark-grey-blue;
        }

        .choices__card__info {
            font-family: $barlow;
            font-size: $sixteen;
            line-height: $line-height-twentyfive;
            margin-top: 1rem;
        }
    }
}

.choice-card-one {
    margin-top: 3rem !important;
}

.active {
    background-color: $dark-cyan !important;
    transition: background-color 0.3s ease-in-out;
}

.active-title {
    color: $light-cream !important;
}

.active-info {
    color: $light-cream;
}

// Media query for tablet 
@media screen and (min-width: 768px) {
    .choices {
        flex-direction: row;
        gap: 2rem;

        .choices__card {
            width: 25rem;
            height: 23.3rem;
            justify-content: flex-start;

            .choices__card__title {
                margin-bottom: 1rem;
            }

            .choices__card__info {
                width: 90%;
            }
        }
    }
}