@import '../Variables/Variables.scss';

.commitment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-top: 10rem;
    
    .commitment__img {
        height: 40rem;
        width: 90vw;
        border-radius: 1rem;
    }

    .commitment__info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .commitment__info__title {
            font-family: $fraunces;
            font-size: $thirtytwo;
            color: $dark-grey-blue;
            margin: 5rem 0rem 2rem 0rem;
        }
    
        .commitment__info__description {
            font-family: $barlow;
            font-size: $fifteen;
            line-height: $line-height-twentyfive;
            color: $dark-grey-blue;
            text-align: center;
        }
    }
}

// Media query for tablet
@media screen and (min-width: 768px) {
    .commitment {
        flex-direction: row;
        gap: 7rem;
        height: 70vh;

        .commitment__img {
            height: 47rem;
            width: 28.1rem;
        }

        .commitment__info-container {
            align-items: flex-start;
            height: 44vh;

            .commitment__info__title {
                margin-top: 0rem;
                margin-bottom: 3rem;
            }

            .commitment__info__description {
                width: 95%;
                text-align: left;
            }
        }
    }
}

// Media query for desktop
@media screen and (min-width: 1024px) {
    .commitment {

        .commitment__img {
            height: 52rem;
            width: 45.5rem;
        }

        .commitment__info-container {
            justify-content: center;

            .commitment__info__title {
                font-size: $forty;
            }

            .commitment__info__description {
                font-size: $sixteen;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .commitment {
        width: 80vw;
        gap: 12rem;

        .commitment__info-container {

            .commitment__info__description {
                width: 90%;
            }
        }
    }
}