@import './AppVariable.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.app-home {
  @include app-container;
  height: 90vh;
}

.app-collection {
  @include app-container
}

.app-why-us {
  @include app-container;
  height: 152rem;
}

.app-how {
  @include app-container;
  margin-top: 10rem;
}

.app-footer {
  display: flex;
  height: 50vh;
  margin-top: 10rem;
  align-items: flex-end;
  margin-bottom: 4rem;
  justify-content: center;
}

.app-about {
  @include app-container;
}

.app-subscribe {
  @include app-container;
}

// Media query for tablet
@media screen and (min-width: 768px) {
  .app-home {
    height: 75vh;
  }

  .app-collection {
    margin-top: 14rem;
  }

  .app-why-us {
    height: 90vh;
  }

  .app-footer {
    height: 40vh;
  }
}

// Media query for desktop
@media screen and (min-width: 768px) {
  .app-footer {
    height: 35vh;
  }
}