@import '../Variables/Variables.scss';

.card-one__dark {
    margin-top: 7rem !important;
}

.card-three__dark {
    margin-bottom: 8rem;
}

.how-card__dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    .how-card__dark__number {
        font-size: $seventytwo;
        font-family: $fraunces;
        color: $pale-orange;
        margin-bottom: 2rem;
    }

    .how-card__dark__title {
        font-size: $twentyeight;
        font-family: $fraunces;
        color: $light-cream;
        margin-bottom: 3rem;
    }

    .how-card__dark__description {
        font-size: $fifteen;
        font-family: $barlow;
        color: $light-cream;
        line-height: $line-height-three;
        text-align: center;
        width: 85vw;
    }
}

// Medi query for tablet
@media screen and (min-width: 768px) {
    .how-card__dark {
        margin: 0rem;
        align-items: flex-start;

        .how-card__dark__title {
            width: 75%;
        }

        .how-card__dark__description {
            width: 87%;
            text-align: left;
        }
    }

    .card-one__dark {
        margin: 0rem !important;
    }

    .card-three__dark {
        margin: 0rem !important;
    }
}